* {
	margin: 0;
	padding: 0;
}

body {
	font-size: 24px;
	font-family: Garamond;
}

a {
	text-decoration: none;
	color: white;
}

.main-grid {
	display: grid;
	grid-template-columns: 1fr repeat(2, minmax(auto, 25em)) 1fr;
}

header {
	background-image: url("ceai.jpg");
	background-size: cover;
	box-shadow: inset 0 0 0 1000px rgba(0,0,0,.5);
	grid-column: 1 / -1;
	height: 100vh;
	color: white;
	display: flex;
	flex-direction: column;
}

nav {
	height: 150px;
	display: flex;
    flex-direction: column;
    justify-content: space-evenly;
	align-items: center;
	padding: 80px 50px;
}

.logo {
	height: 100%;
}

.menu ul {
	display: flex;
	list-style: none;
}

.menu ul li {
	padding: 1em 2em;
}

.menu ul li a {
	color: white;
	text-decoration: none;
}

.menu ul li a:hover {
	color: #425a2c;
	transition: 0.3s;
}

.banner {
	flex-grow: 1;
	display: flex;
	flex-direction: column;
	padding: 3%;
	justify-content: flex-start;
	align-items: center;
}

.banner h1 {
	font-size: 72px;
}

.banner p {
	font-size: 22px;
	text-align: center;
	max-width: 40%;
	padding: 50px 0;
}

.button {
	background: #425a2c;
    border-radius: 25px;
	color: white;
	padding: 15px 50px;
}

.button:hover {
	background: #203f1e;
	transition: 0.9s;
}

#about {
    grid-column: 2 / -2;
	height: 30vh;
	background: #ffffff;
	color: #425a2c;
	display: flex;
	flex-direction: column;
	justify-content: center;
	align-items: center;
}

#about p {
    padding: 20px, 0;
    text-align: center;
}

#flavors {
	grid-column: 2 / -2;
	height: 20vh;
	display: flex;
	flex-direction: column;
	justify-content: space-around;
	align-items: center;
	padding-top: 50px;
	padding-bottom: 40px;
	color: #425a2c;
}

.clothes p {
	padding: 20px;
	text-align: center;
}

.tiles{
	grid-column: 5 / -5;
	display: grid;
	grid-template-columns: 1fr 1fr;
	grid-gap: 40px;
	margin-bottom: 100px;
}

.item {
	display: grid;
	grid-template-columns: 1;
	grid-template-rows: 1;
	overflow: hidden;
}

.item img {
	grid-column: 1 / -1;
	grid-row: 1 / -1;
	width: 100%;
	height: 100%;
	object-fit: cover;
}

.item_overlay {
  background: rgba(0, 0, 0, 0.5);
  grid-column: 1 / -1;
  grid-row: 1 / -1;
  z-index: 2;
  display: grid;
  justify-items: center;
  align-items: center;
  color: white;
}

.item:hover .item_img {
	transform: scale(1.15);
	transition: 0.2s;
}

footer {
	grid-column: 1 / -1;
	height: 30vh;
	background: #425a2c;
	color: white;
	display: flex;
	flex-direction: column;
	justify-content: center;
	align-items: center;
}

footer p {
	padding: 15px 0;
}

.social_contacts {
	display: flex;
	width: 10vw;
	justify-content: space-around;
}

.social_contacts a:hover {
	color: rgb(0, 0, 0);
	transition: 0.4s;
}